/*html {
    background-image: url(../images/skog.png);
    background-repeat: no-repeat;
    background-size: cover;
}*/

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: visible;
    background-color: #A5AD89;
    background-image: url(../images/skog.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Optima', Arial;
    font-size: 18px;
    font-weight: 400;
    color: black;
    animation: fadeIn;
    animation-duration: 1.5s;
}

a:link {
    color:white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:focus-visible {
    outline: #fb0 solid 3px;
}

a:-webkit-focus-visible {
    outline: #fb0 solid 3px;
}

.header {
    width: 100%;
    position: relative;
}

.header a {
    color: black;
}

#overlay-about {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 2;
    animation: fadeIn;
    animation-duration: .6s;
}

#overlay-faq {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 2;
    animation: fadeIn;
    animation-duration: .6s;
}

#overlayclose {
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    float: right;
    top: 50px;
    right: 50px;
    z-index: 3;    
}

#overlaytext {
    height: 100%;
    position: relative;
    top: 55%;
    left: 50%;
    width: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#overlaytext span {
    background-color: rgba(0, 0, 0, 0.877);
    padding: 7px;
    padding-left: 0px;
}

#overlaytext h1 {
    font-size: 38px;
    font-size: 2.375rem;
    font-weight: 400;
    color: white;
    text-align: center;
}

#overlaytext h2 {
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: 200;
    color: white;
    text-align: left;
    line-height: 1.9;
}

#overlaytext h3 {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 100;
    color: white;
    text-align: left;
    line-height: 2.1;
}

#overlaytext ul {
    padding-left: 20px;
}

#overlaytext p {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 200;
    color: white;
    text-align: left;
    line-height: 2;
}

#overlaytext a:link {
    text-decoration: underline;
}

#overlaytext a:hover {
    color: yellow;
    text-decoration: underline;
    cursor: pointer;
}

.nav-left {
    position: absolute;
    top: -40px;
    left: 30px;
}

.nav-left li {
    line-height:30px;
    vertical-align:middle;
    
}

.nav-right {
    position: absolute;
    top: -40px;
    right: 30px;
}

.nav-right li {
    line-height:30px;
    vertical-align:middle;
}

#about {
    display: block;
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    animation: fadeInDown;
    animation-duration: 1.5s;
}

/*#about span {
    color: white;
    background-image: url(../images/about_brush.png);
    background-repeat: no-repeat;
    background-size: cover ;
    padding: 5px 5px 10px 5px;
}*/

#faq {
    display: block;
    margin-left: 30px;
    cursor: pointer;
    animation: fadeInDown;
    animation-duration: 1.5s;
}

#loading {
    color: white;
    font-family: 'Optima', Arial;
    font-size: 20px;
    font-weight: 100;
    animation: fadeInLeft;
    animation-duration: 1.5s;
}

.playbutton {
    position:absolute;
    top:150px;
    left:50%;
    transform:translateX(-50%)
   }

.soundtoggle {
    display: block;
    width: 70px;
    height: 80px;
    background: url(../images/sound_on.png) no-repeat;
    background-size: 100%;
    margin-right: 10px;
    margin-left: 10px;
    animation: fadeInDown;
    animation-duration: 1.5s;
    transition: transform 0.25s ease;
}

.soundtoggle:hover {
    transform: scale(1.1) ;
}

.soundtoggle.mute {
    background: url(../images/sound_off.png) no-repeat;
    background-size: 100%;
}

.soundtoggle span {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block
}



.logo {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: 75px auto 0;
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}


/*.forestimage {
    position: relative;
    max-width: 550px;
    margin: 30px auto 0;    
    opacity: .7;
}

.forestimage img {
    max-width: 100%;
    height: auto;
}*/

.audio {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 20%;
    right: 20%;
    bottom: 10%;
    max-height: 650px;
}

.audio-player {
    position: absolute;
    width: 40%;
    max-width: 300px;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
}

/*.audio-player span {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}*/

.audio-player:nth-child(1) {
    top: 5%;
    right: 95%;
    transform: translateX(125px);
}

.audio-player:nth-child(2) {
    top: 35%;
    right: 100%;
    transform: translateX(125px);
}

.audio-player:nth-child(3) {
    top: 65%;
    right: 95%;
    transform: translateX(125px);
}


.audio-player:nth-child(4) {
    top: 0%;
    left: 92%;
    transform: translateX(-125px);
}

.audio-player:nth-child(5) {
    top: 30%;
    left: 100%;
    transform: translateX(-125px);
}

.audio-player:nth-child(6) {
    top: 60%;
    left: 95%;
    transform: translateX(-125px);
}

.audio-player:nth-child(7) {
    top: 85%;
    right: 22%;
    transform: translateX(125px);
}

.audio-controls {
    padding-top: 0;
    max-width: 200px;
    margin: auto;
}

.slider-1 {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 80px;
    border-radius: 1px;
    /*vertical-align: top;*/
    background: url(../images/slider.png) no-repeat center 100%;
    background-size: contain;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-1:hover {
    opacity: 1;
}

.slider-1::-moz-range-thumb:hover,
.slider-1::-moz-range-thumb:active {
    transform: scale(1.1)
}

.slider-1:focus-visible {
    outline: #fb0 solid 3px;
}

.slider-1:-webkit-focus-visible {
    outline: #fb0 solid 3px;
}

.slider-1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 5%;
    background:url(../images/slider_birds.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider-1::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 5%;
    background:url(../images/slider_birds.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider-2 {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 80px;
    border-radius: 1px;
    background: url(../images/slider.png) no-repeat center 100%;
    background-size: contain;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-2:hover {
    opacity: 1;
}

.slider-2::-moz-range-thumb:hover,
.slider-2::-moz-range-thumb:active {
    transform: scale(1.1)
}

.slider-2:focus-visible {
    outline: #fb0 solid 3px;
}

.slider-2:-webkit-focus-visible {
    outline: #fb0 solid 3px;
}

.slider-2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 5%;
    background:url(../images/slider_water.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider-2::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 5%;
    background:url(../images/slider_water.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider-3 {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 80px;
    border-radius: 1px;
    background: url(../images/slider.png) no-repeat center 100%;
    background-size: contain;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-3:hover {
    opacity: 1;
}

.slider-3::-moz-range-thumb:hover,
.slider-3::-moz-range-thumb:active {
    transform: scale(1.1)
}

.slider-3:focus-visible {
    outline: #fb0 solid 3px;
}

.slider-3:-webkit-focus-visible {
    outline: #fb0 solid 3px;
}

.slider-3::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 5%;
    background:url(../images/slider_rain.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider-3::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 5%;
    background:url(../images/slider_rain.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider-4 {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 80px;
    border-radius: 1px;
    background: url(../images/slider.png) no-repeat center 100%;
    background-size: contain;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-4:hover {
    opacity: 1;
}

.slider-4::-moz-range-thumb:hover,
.slider-4::-moz-range-thumb:active {
    transform: scale(1.1)
}

.slider-4:focus-visible {
    outline: #fb0 solid 3px;
}

.slider-4:-webkit-focus-visible {
    outline: #fb0 solid 3px;
}

.slider-4::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 5%;
    background:url(../images/slider_windchime.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider-4::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 5%;
    background:url(../images/slider_windchime.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider-5 {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 80px;
    border-radius: 1px;
    background: url(../images/slider.png) no-repeat center 100%;
    background-size: contain;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-5:hover {
    opacity: 1;
}

.slider-5::-moz-range-thumb:hover,
.slider-5::-moz-range-thumb:active {
    transform: scale(1.1)
}

.slider-5:focus-visible {
    outline: #fb0 solid 3px;
}

.slider-5:-webkit-focus-visible {
    outline: #fb0 solid 3px;
}

.slider-5::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 5%;
    background:url(../images/slider_thunder.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider-5::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 5%;
    background:url(../images/slider_thunder.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider-6 {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 80px;
    border-radius: 1px;
    background: url(../images/slider.png) no-repeat center 100%;
    background-size: contain;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-6:hover {
    opacity: 1;
}

.slider-6::-moz-range-thumb:hover,
.slider-6::-moz-range-thumb:active {
    transform: scale(1.1)
}

.slider-6:focus-visible {
    outline: #fb0 solid 3px;
}

.slider-6:-webkit-focus-visible {
    outline: #fb0 solid 3px;
}

.slider-6::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 5%;
    background:url(../images/slider_wind.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider-6::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 5%;
    background:url(../images/slider_wind.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider-7 {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 80px;
    border-radius: 1px;
    background: url(../images/slider.png) no-repeat center 100%;
    background-size: contain;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-7:hover {
    opacity: 1;
}

.slider-7::-moz-range-thumb:hover,
.slider-7::-moz-range-thumb:active {
    transform: scale(1.1)
}

.slider-7:focus-visible {
    outline: #fb0 solid 3px;
}

.slider-7:-webkit-focus-visible {
    outline: #fb0 solid 3px;
}

.slider-7::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 5%;
    background:url(../images/slider_ambi.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider-7::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 5%;
    background:url(../images/slider_ambi.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

/*.slider:nth-child(1)::-webkit-slider-thumb {
    background:url(../images/slider_birds.png) no-repeat;
    background-size:contain
}

.slider:nth-child(1)::-moz-range-thumb {
    background:url(../images/slider_birds.png) no-repeat;
    background-size: contain;
}

.slider:nth-child(2)::-webkit-slider-thumb {
    background:url(../images/slider_water.png) no-repeat;
    background-size:contain
}

.slider:nth-child(2)::-moz-range-thumb {
    background:url(../images/slider_water.png) no-repeat;
    background-size: contain;
}

.slider:nth-child(3)::-webkit-slider-thumb {
    background:url(../images/slider_rain.png) no-repeat;
    background-size:contain
}

.slider:nth-child(3)::-moz-range-thumb {
    background:url(../images/slider_rain.png) no-repeat;
    background-size: contain;
}

.slider:nth-child(4)::-webkit-slider-thumb {
    background:url(../images/slider_windchime.png) no-repeat;
    background-size:contain
}

.slider:nth-child(4)::-moz-range-thumb {
    background:url(../images/slider_windchime.png) no-repeat;
    background-size: contain;
}

.slider:nth-child(5)::-webkit-slider-thumb {
    background:url(../images/slider_thunder.png) no-repeat;
    background-size:contain
}

.slider:nth-child(5)::-moz-range-thumb {
    background:url(../images/slider_thunder.png) no-repeat;
    background-size: contain;
}

.slider:nth-child(6)::-webkit-slider-thumb {
    background:url(../images/slider_wind.png) no-repeat;
    background-size:contain
}

.slider:nth-child(6)::-moz-range-thumb {
    background:url(../images/slider_wind.png) no-repeat;
    background-size: contain;
}

.slider:nth-child(7)::-webkit-slider-thumb {
    background:url(../images/slider_ambi.png) no-repeat;
    background-size:contain
}

.slider:nth-child(7)::-moz-range-thumb {
    background:url(../images/slider_ambi.png) no-repeat;
    background-size: contain;
}*/

@media screen and (max-width:1016px) {
    
    body h2{
    font-size: 20px;
    font-weight: 200;
    }

    #overlaytext {
        width: 75%;
    }
    
    .nav-left {
        position: absolute;
        top: -100px;
        left: 30px;
    }
    
    .nav-right {
        position: absolute;
        top: -100px;
        right: 30px;
    }

    .logo {
        position: relative;
        width: 20%;
        max-width: 250px;
        margin: 150px auto 0;
    }

    .forestimage {
        position: relative;
        align-items: center;
        z-index: 0;
        max-width: 700px;
        width: 100%;
        margin: 75px auto 0;
        opacity: 0.4;
    }

    .audio {
        position: absolute;
        z-index: 1;
        text-align: center;
    }

    .audio-player {
        display: inline-block;
        width: 40%;
        max-width: 300px;
        text-align: center;
        padding: 10px;
        white-space: nowrap;
    }

    .audio-player:nth-child(1) {
        top: 13%;
        right: 92%;
        transform: translateX(125px);
    }

    .audio-player:nth-child(2) {
        top: 40%;
        right: 100%;
        transform: translateX(125px);
    }

    .audio-player:nth-child(3) {
        top: 60%;
        right: 85%;
        transform: translateX(125px);
    }


    .audio-player:nth-child(4) {
        top: 13%;
        left: 92%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(5) {
        top: 40%;
        left: 100%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(6) {
        top: 60%;
        left: 85%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(7) {
        top: 80%;
        right: 50%;
        transform: translateX(100px);
    }

}

@media screen and (max-width:680px) {

    #faq {
        margin-left: 0px;
        /*border: 1px solid white;*/
        cursor: pointer;
    }
    
    .soundtoggle {
        width: 50px;
        height: 60px;
    }
    
    .logo {
        position: relative;
        width: 75%;
        max-width: 700px;
        margin: 150px auto 0;
    }

    .forestimage {
        position: relative;
        z-index: 0;
        width: 90%;
        margin: 75px auto 0;
        opacity: 0.4;
    }

    .audio {
        position: absolute;
        top: 20%;
        left: 15%;
        right: 15%;
        bottom: 10%;
        max-height: 800px;
    }

    .audio-player {
        position: absolute;
        width: 40%;
    }

    .audio-player:nth-child(1) {
        top: 20%;
        right: 90%;
        transform: translateX(125px);
    }

    .audio-player:nth-child(2) {
        top: 40%;
        right: 90%;
        transform: translateX(125px);
    }

    .audio-player:nth-child(3) {
        top: 60%;
        right: 90%;
        transform: translateX(125px);
    }


    .audio-player:nth-child(4) {
        top: 20%;
        left: 90%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(5) {
        top: 40%;
        left: 90%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(6) {
        top: 60%;
        left: 90%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(7) {
        top: 80%;
        right: 50%;
        transform: translateX(75px);
    }

    #overlaytext {
        height: 100%;
        position: relative;
        top: 55%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    #overlayclose {
        position: sticky;
        position: -webkit-sticky;
        display: flex;
        float: right;
        top: 25px;
        right: 20px;
        width: 30px;
        height: 30px;
    }
    
    #overlaytext h1 {
        font-size: 32px;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }
    
    #overlaytext h2 {
        font-size: 24px;
        font-size: 1.5rem;
        font-weight: 200;
        line-height: 1.9;
    }

    #overlaytext h3 {
        font-size: 16px;
        font-size: 1rem;
        font-weight: 100;
        line-height: 2.3;
    }
    
    #overlaytext p {
        font-size: 20px;
        font-size: 1.25rem;
        font-weight: 200;
        line-height: 2.1;
    }

}

@media screen and (max-width:500px) {
    .nav-left {
        position: absolute;
        top: -75px;
        left: 20px;
    }
    
    .nav-right {
        position: absolute;
        top: -75px;
        right: 20px;
    }

    .logo {
        position: relative;
        width: 90%;
        max-width: 500px;
        margin: 100px auto 0;
    }

    .forestimage {
        position: relative;
        z-index: 0;
        width: 90%;
        margin: 50px auto 0;
        opacity: 0.4;
    }

    .audio {
        position: absolute;
        top: 20%;
        left: 10%;
        right: 10%;
        bottom: 10%;
        max-height: 800px;
    }

    .audio-player {
        position: absolute;
        width: 40%;
        padding: 30px;
    }

    .audio-player:nth-child(1) {
        top: 20%;
        right: 90%;
        transform: translateX(125px);
    }

    .audio-player:nth-child(2) {
        top: 40%;
        right: 90%;
        transform: translateX(125px);
    }

    .audio-player:nth-child(3) {
        top: 60%;
        right: 90%;
        transform: translateX(125px);
    }


    .audio-player:nth-child(4) {
        top: 20%;
        left: 90%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(5) {
        top: 40%;
        left: 90%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(6) {
        top: 60%;
        left: 90%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(7) {
        top: 80%;
        right: 50%;
        transform: translateX(90px);
    }

    #overlaytext span {
        background-color: rgba(0, 0, 0, 0.877);
        padding: 5px;
        padding-left: 0px;

    }

    #overlaytext h1 {
        font-size: 24px;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
    }
    
    #overlaytext h2 {
        font-size: 18px;
        font-size: 1.125rem;
        font-weight: 100;
    }
    
    #overlaytext h3 {
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: 100;
    }

    #overlaytext p {
        font-size: 16px;
        font-size: 1rem;
        font-weight: 200;
    }
}