html {
    height: 100%;
    overflow: hidden;
}

body {
    min-height: 100%;
    background-color: rgb(0, 51, 0);
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight:lighter;
    color: white;
}

.header {
    width: 100%;
    position: relative;
}

img, svg {
    max-width: 50%;
    height: auto;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0
   }

ul li {
    display:inline-block
   }


.nav-right {
    position:absolute;
    top:-10px;
    right: 20px;
}

#about {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
}

.image {
    width: 100%;
    height: auto;
    max-width: 50%;
    margin: 50px auto 0;
    text-align: center;
}

.forestimage {
    opacity: .2;
}

/*.playmute {
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("assets/sound-on.png");
    background-origin: padding-box;
    background-clip: border-box;
    background-size: 100%;
    margin-right: 10px;
    margin-left: 10px;
    }*/

.audio {
    position: absolute;
    top: 15%;
    left: 20%;
    right: 20%;
    bottom: 10%;
    max-height: 650px;
}

.audio-player {
    position: absolute;
    width: 40%;
    max-width: 300px;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
}

.audio-player:nth-child(1) {
    top:13%;
    right:92%;
    transform: translateX(125px);
   }

   .audio-player:nth-child(2) {
    top:40%;
    right:100%;
    transform: translateX(125px);
   }

   .audio-player:nth-child(3) {
    top:60%;
    right:85%;
    transform: translateX(125px);
   }


   .audio-player:nth-child(4) {
    top:13%;
    left:92%;
    transform: translateX(-125px);
   }

   .audio-player:nth-child(5) {
    top:40%;
    left:100%;
    transform: translateX(-125px);
   }

   .audio-player:nth-child(6) {
    top:60%;
    left:85%;
    transform: translateX(-125px);
   }

   .audio-player:nth-child(7) {
    top:80%;
    right:50%;
    transform: translateX(150px);
   }

.audio-player-title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font: weight 400px;;
    color: white;
    letter-spacing: 3px;
}

.audio-controls {
    padding-top: 0.5em;
    width: 180px;
    margin: auto;
}

    /* The slider itself */
    .slider {
        -webkit-appearance: none;   /*Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 2px;
        border-radius: 10px;
        background: #d3d3d3; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.95; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
    }

    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }


    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        border-color: none;
        border-radius: 50%;
        background: white; 
        cursor: pointer; /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        border: none;
        border-radius: 50%;
        background: white; 
        cursor: pointer; /* Cursor on hover */
    }

    .slider::-moz-range-thumb:hover,
    .slider::-moz-range-thumb:active {
        transform:scale(1.1)
    }
