html {
    height: 100%;
    /*overflow: hidden;*/
}

body {
    min-height: 100%;
    background-color: rgb(0, 51, 0);
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: white;
    animation: fadeIn;
    animation-duration: 1.5s;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    width: 100%;
    position: relative;
}

/*a:link {
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:visited {
    color: white;
}*/

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.801);
    z-index: 2;
    animation: fadeIn;
    animation-duration: .5s;
}

#overlaytext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#overlaytext h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
}

#overlaytext h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 100;
    text-align: center;
}

#overlaytext p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: lighter;
}

.nav-right {
    position: absolute;
    top: -10px;
    right: 20px;
}

.nav-right li {
    line-height:30px;
    vertical-align:middle
}

#about {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid white;
    cursor: pointer;
    
}

#loading {
    color: rgb(21, 255, 0);
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

/*
#soundtoggle {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid white;
    cursor: pointer;
}*/

.playbutton {
    position:absolute;
    top:150px;
    left:50%;
    transform:translateX(-50%)
   }

.soundtoggle {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/sound_on.png) no-repeat;
    background-size: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

.soundtoggle.mute {
    background: url(../images/sound_off.png) no-repeat;
    background-size: 100%;
}

.soundtoggle span {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block
}



.logo {
    position: relative;
    width: 50%;
    max-width: 500px;
    margin: 75px auto 0;
    border: 1px solid white;
}

.forestimage {
    opacity: .2;
    border: 1px solid white;
}

/*.playmute {
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("assets/sound-on.png");
    background-origin: padding-box;
    background-clip: border-box;
    background-size: 100%;
    margin-right: 10px;
    margin-left: 10px;
    }*/

.audio {
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 20%;
    right: 20%;
    bottom: 10%;
    max-height: 650px;
}

.audio-player {
    position: absolute;
    width: 40%;
    max-width: 300px;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
}

.audio-player:nth-child(1) {
    top: 13%;
    right: 92%;
    transform: translateX(125px);
}

.audio-player:nth-child(2) {
    top: 40%;
    right: 100%;
    transform: translateX(125px);
}

.audio-player:nth-child(3) {
    top: 60%;
    right: 85%;
    transform: translateX(125px);
}


.audio-player:nth-child(4) {
    top: 13%;
    left: 92%;
    transform: translateX(-125px);
}

.audio-player:nth-child(5) {
    top: 40%;
    left: 100%;
    transform: translateX(-125px);
}

.audio-player:nth-child(6) {
    top: 60%;
    left: 85%;
    transform: translateX(-125px);
}

.audio-player:nth-child(7) {
    top: 80%;
    right: 50%;
    transform: translateX(125px);
}

.audio-controls {
    padding-top: 0.5em;
    max-width: 180px;
    margin: auto;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /*Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 2px;
    border-radius: 1px;
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.95;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    border-color: none;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    border: none;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb:hover,
.slider::-moz-range-thumb:active {
    transform: scale(1.1)
}

/*
@media screen and (max-width:768px) {
    .image {
        padding-top:10px
    }
    .nav-right {
        top:-20px
    }
    }


@media screen and (max-width:800px) {
.plyr--audio {
    margin-top:5px
}
.audio-player {
    padding-top:0;
    padding-bottom:0;
    width:42%
}
} */

@media screen and (max-width:1016px) {
    .nav-right {
        position: absolute;
        top: -75px;
        right: 20px;
    }

    .image {
        position: relative;
        z-index: -1;
        width: 90%;
        margin: 100px auto 0;
    }

    .audio {
        position: absolute;
        z-index: 1;
        text-align: center;
    }

    .audio-player {
        display: inline-block;
        width: 40%;
        max-width: 300px;
        text-align: center;
        padding: 10px;
        white-space: nowrap;
    }

    .audio-player:nth-child(1) {
        top: 13%;
        right: 92%;
        transform: translateX(125px);
    }

    .audio-player:nth-child(2) {
        top: 40%;
        right: 100%;
        transform: translateX(125px);
    }

    .audio-player:nth-child(3) {
        top: 60%;
        right: 85%;
        transform: translateX(125px);
    }


    .audio-player:nth-child(4) {
        top: 13%;
        left: 92%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(5) {
        top: 40%;
        left: 100%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(6) {
        top: 60%;
        left: 85%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(7) {
        top: 80%;
        right: 50%;
        transform: translateX(100px);
    }

    /*.playbutton {
  position:absolute;
  top:150px;
  left:50%;
  transform:translateX(-50%)
 }*/
}

@media screen and (max-width:680px) {
    .nav-right {
        position: absolute;
        top: -75px;
        right: 20px;
    }

    .image {
        position: relative;
        z-index: -1;
        width: 90%;
        margin: 100px auto 0;
    }

    .audio {
        position: absolute;
        top: 20%;
        left: 15%;
        right: 15%;
        bottom: 10%;
        max-height: 800px;
    }

    .audio-player {
        position: absolute;
        width: 40%;
    }

    .audio-player:nth-child(1) {
        top: 20%;
        right: 90%;
        transform: translateX(125px);
    }

    .audio-player:nth-child(2) {
        top: 40%;
        right: 90%;
        transform: translateX(125px);
    }

    .audio-player:nth-child(3) {
        top: 60%;
        right: 90%;
        transform: translateX(125px);
    }


    .audio-player:nth-child(4) {
        top: 20%;
        left: 90%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(5) {
        top: 40%;
        left: 90%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(6) {
        top: 60%;
        left: 90%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(7) {
        top: 80%;
        right: 50%;
        transform: translateX(75px);
    }
    
    #overlaytext h1 {
        font-family: 'Fira Sans', sans-serif;
        font-size: 20px;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }
    
    #overlaytext h2 {
        font-family: 'Fira Sans', sans-serif;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 100;
        text-align: center;
    }
    
    #overlaytext p {
        font-family: 'Fira Sans', sans-serif;
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: lighter;
    }

    /*.playbutton {
  position:absolute;
  top:150px;
  left:50%;
  transform:translateX(-50%)
 }*/
}

@media screen and (max-width:500px) {
    .nav-right {
        position: absolute;
        top: -75px;
        right: 20px;
    }

    .image {
        position: relative;
        z-index: -1;
        width: 90%;
        margin: 75px auto 0;
    }

    .audio {
        position: absolute;
        top: 20%;
        left: 10%;
        right: 10%;
        bottom: 10%;
        max-height: 800px;
    }

    .audio-player {
        position: absolute;
        width: 40%;
        padding: 30px;
    }

    .audio-player:nth-child(1) {
        top: 20%;
        right: 90%;
        transform: translateX(125px);
    }

    .audio-player:nth-child(2) {
        top: 40%;
        right: 90%;
        transform: translateX(125px);
    }

    .audio-player:nth-child(3) {
        top: 60%;
        right: 90%;
        transform: translateX(125px);
    }


    .audio-player:nth-child(4) {
        top: 20%;
        left: 90%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(5) {
        top: 40%;
        left: 90%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(6) {
        top: 60%;
        left: 90%;
        transform: translateX(-125px);
    }

    .audio-player:nth-child(7) {
        top: 80%;
        right: 50%;
        transform: translateX(90px);
    }

    #overlaytext h1 {
        font-family: 'Fira Sans', sans-serif;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
    }
    
    #overlaytext h2 {
        font-family: 'Fira Sans', sans-serif;
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: 100;
        text-align: center;
    }
    
    #overlaytext p {
        font-family: 'Fira Sans', sans-serif;
        font-size: 10px;
        font-size: 1rem;
        font-weight: lighter;
    }

    /*.playbutton {
  position:absolute;
  top:150px;
  left:50%;
  transform:translateX(-50%)
 }*/
}